@use './variables' as *;
@use './mixins' as *;

.comics-utilities-section {
    background-color: $clr-brand-primary;
    color: $clr-brand-secondary;

    &>menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3rem 0;

        a {
            @include flex-center('vertical');
            justify-content: space-between;
            gap: .75rem;

            &:hover {
                text-decoration: underline;
            }

            .link-icon {
                width: 3.5rem;
                height: 3.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}