@use './variables' as *;
@use './mixins' as *;

.topbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: $hgt-topbar;
    color: $clr-text-dk;
    background-color: $clr-brand-secondary;

    &>div {
        @include align-container();
        height: 100%;
        @include flex-center('vertical');
        justify-content: space-between;

        .logo {
            display: block;
            height: 5rem;

            img {
                height: 100%
            }
        }

        menu {
            height: 100%;
            display: flex;
            gap: 2rem;
            font-weight: 700;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:hover {
                    color: $clr-brand-primary;
                }

                &.active {
                    color: $clr-brand-primary;
                    position: relative;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 5px;
                        background-color: $clr-brand-primary;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}